<div class="w-menu-item">
	<img data-export-id = "{{@imageUrl}}">
	<img src="./icons/home.svg">
	<div class="w-menu-item__arrow" data-export-id="{{@arrow}}"></div>
	<span class="w-menu-item__title" data-export-id="{{@title}}"></span>
</div>
