{{+ import BaseList from "ui/widgets/base-list/base-list"; }}


<div class="w-category-type-widget">
    I AM THE CATEGORY TYPE WIDGET

<!--    <img src="https://www.w3schools.com/tags/img_girl.jpg" alt="Girl in a jacket" width="500" height="600">-->
    {{% BaseList, {options: {padding: 5, lineSize: 1}, itemClass: ''}, content }}
</div>
