<div data-export-id="{{@sliderWrapper}}"></div>
<div data-export-id="{{@contentSliderWrapper}}">

</div>
<div class="description" data-export-id="{{@sceneId}}"></div>
<div class="description" data-export-id="{{@itemType}}"></div>


<div class="description" data-export-id="{{@buttonsContainer}}"></div>
