{{* this.title string }}
{{* this.railTitle string }}
<div class="w-home-type-widget-item">
    <div data-export-id="{{@title}}"></div>
    <div data-export-id="{{@debug}}"></div>
    <div class="w-home-type-widget-item__title"> {{- this.title }}</div>
    <div class="w-home-type-widget-item__wrap">
    </div>
</div>
