<embed src="https://apimhml.oi.net.br/oauth/oi/authorize?state=csrf_oiplay&client_id=35afd8ca-0e94-4c59-8857-a79d0a13eb84&response_type=code&scope=openid customer_info oiplay&redirect_uri=https://internettv-rms.stgonline.go.oi.com.br/oiplay/login"></embed>
